html,
body {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  background: $background-color;
  justify-content: center;
  min-height: 100vh;
}

.app-content {
  align-self: flex-start;
  margin-top: 84px;
  width: 520px;
  background: $background-color;
}

.app-content-title {
  font-family: $font-title;
}

.app-content-text {
  font-family: $font-info;
}
