@import 'sass/tools/fonts';

$background-color: #ffffff;

html,
body {
  height: 100%;
  width: 100%;
}

.app {
  background: $background-color;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  font-family: 'OpenSans-Regular', Fallback, sans-serif;
}
